<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550032225865-eapesmdv4tf9e2dkrsvttj2ampb8oopg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550032225865-eapesmdv4tf9e2dkrsvttj2ampb8oopg</string>
	<key>API_KEY</key>
	<string>AIzaSyB-iyiVwYSfVMtNjWTDdr4V_ixWboQ0M98</string>
	<key>GCM_SENDER_ID</key>
	<string>550032225865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ses</string>
	<key>PROJECT_ID</key>
	<string>fir-e-s-c13e3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-e-s-c13e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550032225865:ios:07e6ee61a6006c9f9f3198</string>
	<key>DATABASE_URL</key>
	<string>https://fir-e-s-c13e3-default-rtdb.firebaseio.com</string>
</dict>
</plist>